<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziroom.qa.quality.defende.provider.execTask.mapper.TestExecutionMapper">

    <update id="updateFlagByCaseKey">
        update test_execution set is_new = #{isNew} where case_key = #{caseKey} and execution_task_id = #{executionTaskId}
    </update>

    <update id="updateFlagByCaseId">
        update test_execution set is_new = #{isNew} where case_id = #{caseId} and execution_task_id = #{executionTaskId}
    </update>

    <update id="updateFlagByCaseList">
        update test_execution set is_new = #{isNew} where 1=1
        <if test="testCaseIdList != null">
            and case_id in #{testCaseIdList}
        </if>
        <if test="testCaseKeyList != null">
            and case_key in #{testCaseKeyList}
        </if>
        and execution_task_id = #{executionTaskId}
    </update>

</mapper>
